# Progress Report Requirements

1. The progress report should contain the progress you have made on the final project. 
2. Do NOT include your name or student ID in the submissions!
3. Submit an html file by 5 pm March 10th and make the code for reproducing this submission ready upon request.


# Final Project Requirements

1. Submit an html file by 5 pm March 20th.
2. Submit the link to the Github repository for reproducing this file as a comment in the submission.
* Remember to make the GitHub repo public and then submit the link.


# Grading Rubric
https://docs.google.com/spreadsheets/d/1nvPkP5FnNQr6VQhhbO-PnXX3uZbL9vHinB705Ek_VSA/edit#gid=0

1. The parts for Presentation and Discussion do not apply, since there are no such requirements this quarter.
2. Regarding the expectation on the project:
	a. 80/100 when the suggested outline is followed and only knowledge learned in STA 207 is used (plus or minus depending on the quality of the report)
	b. >90/100 when the report addresses issues in the real data analysis that might require knowledge beyond STA 207. E.g. you find some questions to solve in the published paper and try to solve the question. You just need to explain and try to convince your audience. There is no one correct solution/statistical method to any data analysis question.
	* As discussed in Lecture: Course overview & logistics (1/9/2022), the median grade is expected to be B or B+, but it requires much more efforts to earn an A in this class. 

# Other

1. Learn to use bib reference in R markdown html rendering.